

<%= render 'static_pages/navbar' %>
<%= render 'static_pages/jumbotron' %>
<!--
<div class="container-fluid">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render 'static_pages/footer' %>
</div>-->